body {
  font-size: 16px;
  color: #fff;
  background-color: ;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 15px;
  margin-top: 35px;
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-weight: bold;
}



.col-sm{

	color:black;
	background-color:#808080a1;
  margin-right: 20px;
  margin-left: 20px;

}

#header-nav {
  background-color: #4fcbfe;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: sans-serif;
  color: #212845;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}






